/*reset 重置默认样式*/
html, body{font-size: 14px;height: 100%;width: 100%;background-color: #EEEFF1;}
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, q, em, ul, li, ol, form,
article, aside, embed, dl, dt, dd, table, td, th, input, button, legend, blockquote,
textarea, label, strong, img, fieldset
{margin: 0; padding: 0;}
body{font-family:'Microsoft YaHei',"sans-serif",Arial,'Hiragino Sans GB','Open Sans','Helvetica Neue';}
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
ul, li { list-style-type: none;margin: 0;padding: 0; }
a {color:#333; outline: medium none; text-decoration: none;cursor: pointer;}
img,input,select,option,th,td,textarea{font-family:'Microsoft YaHei',"sans-serif",Arial,'Hiragino Sans GB','Open Sans','Helvetica Neue';border:none;color:#333;}
input{outline: none;}
a:hover { text-decoration:none; }
table {border-collapse: collapse; }
em, cite, b, i { font-style: normal; }
button{border: none;width: 100%;font-family:'Microsoft YaHei',"sans-serif",Arial,'Hiragino Sans GB','Open Sans','Helvetica Neue';}
button:hover{outline: none;}
/*reset 重置默认样式--end*/

#root{ position: relative; }
.overall{ position: relative; background-color: #ffffff; width:1000px; height:530px; margin: 20px auto; }
.top{ 
    position: absolute; top:0px; left:0px; width:100%; height:40px; background-color: #ffffff;
    box-sizing: border-box; border-bottom:solid #ccc 1px; font-size: 14px; 
}
.content{ position: absolute; top: 40px; width: 100%; bottom: 0px; background-color: #ffffff; font-size: 14px; }
button{ outline: none;  cursor:pointer;}
select { outline: none; }
.top button{ width: 60px; height: 24px; border-radius: 8px; background-color: #ffffff; border:solid #5e7cdf 1px; color: #5e7cdf; }
.top .btn-l{ display: block; float: left; margin-left: 20px; margin-top:7px; }
.top .btn-l:active, .top .btn-r:active{ background: #ecf3f8; }
.top .btn-r{ display: block; float: right; margin-right: 20px; margin-top:7px; }

.tips .select-tip{ position: absolute; top:50%;  left:50%; width:300px; height: 50px; margin-top: -40px; margin-left: -150px;  z-index: 1;  }
.tips .select-tip>p{ background-color: #ffb1a4;; text-align:center; line-height:50px;  font-size:18px; z-index: 1;  }
.tips .deletes-tip .mengban{ position: absolute; top:0px; right: 0px; bottom: 0px; left: 0px; background: #000; opacity: 0.2; z-index: 2; }
.tips .deletes-tip .delete-box{ position: absolute; top:50%; left: 50%; width: 300px; height: 60px; margin-left: -180px; margin-top: -60px; padding: 20px;
    border: solid #ffeaa4 13px; background-color: #fffbe5;  text-align: center; z-index: 3; font-size: 16px;
}
.tips .deletes-tip button{ width: 60px; height: 26px; font-size: 16px; margin-top: 20px; background-color: #ccd8ff; }
.tips .deletes-tip .confirm{ margin-left: 60px; }
.tips .must-name{  position: absolute; top:50%;  left:50%; width:300px; height: 50px; margin-top: -40px; margin-left: -150px;
    background-color:#ffb1a4;  text-align: center; font-size: 18px; z-index: 1;  
}
.tips .must-name p{ margin-top: 10px; }

.content>div{ position: absolute; top:0px; right:0px; bottom:0px; left:0px; }
.content .list-home .info-list{ padding: 20px; height: 390px; overflow: auto; }
.content .list-home .info-list>li{ width:940px; height: 30px; background-color: #fafbff; border-bottom: solid #e0e2fb 1px; line-height: 30px; }
.content .list-home .info-list>li:hover{ background-color: #eaeef5; }
.content .list-home .info-list>li input{ vertical-align:middle; cursor:pointer; min-height: 20px; min-width: 20px; margin-left: 20px; }
.content .list-home .info-list>li>span{ display: inline-block; margin-left: 20px; width: 820px;}
.content .list-home .info-list>li>button{ display: block; float: right; cursor: pointer; width: 60px; height: 30px; background-color: #ffdfdf; }
.content .list-home .pagenum-box{ position: absolute; left:20px; bottom:20px; }
.content .list-home .pagenum-box button, .content .list-home .pagenum-box .btn-gotot{ width: 40px;  }
.content .list-home .pagenum-box .pageitem-num{ margin-left: 20px; }
.content .list-home .pagenum-box .page-num{  width: 20px; margin: 0px 10px 0px 10px; border:solid #ccc 1px; text-align: center; }
.content .list-home .pagenum-box .all-data, .content .list-home .pagenum-box .btn-gotot,
.content .list-home .pagenum-box .pagenum{ margin-left: 20px; }
.content .list-home .pagenum-box .alldata-num, .content .list-home .pagenum-box .all-datan,
.content .list-home .pagenum-box .all-pagenum{ margin-left: 5px; }
.content .list-home .pagenum-box .select-shownum{ border:solid #ccc 1px; margin-left:10px; }

.content .item-detail{ padding: 40px; overflow: auto; }
.content .item-detail div>p{ margin-top: 10px;}
.content .item-detail div>img{ float: left; width: 100px; height: 100px; }
.content .item-detail div .right-info{ float: left; margin-left: 20px; }

.content .item-add{ padding: 40px; position: relative; }
.content .item-add .head-pic{ display: block; position: absolute; top:40px; left:40px; cursor: pointer; height: 120px; width:120px; opacity:0; }
.content .item-add .head-show{ position: absolute; top:40px; left:40px;  height: 120px; width:120px; background-color: #fff; box-sizing: border-box; border: solid #ccc 1px; }
.content .item-add .head-show .cross{ position: absolute; top:58px; left:25px; width: 70px; height: 5px; background-color: #b4b4b4; }
.content .item-add .head-show .verti{ position: absolute; top:25px; left:56px; width: 5px; height: 70px; background-color: #b4b4b4; }
.content .item-add #preview{ display: block; position: absolute; top:40px; left:40px; cursor: pointer; height: 120px; width:120px; pointer-events: none; }
.content .item-add .tip{ position: absolute; top: 165px; color: #b8b8b8; font-size: 12px; }
.content .item-add .right-info{ margin-left: 180px; }
.content .item-add .right-info>li{ margin-top: 10px; } 
.content .item-add .right-info>li>input{ border:solid #ccc 1px; } 
.content .item-add .right-info .man{ margin-right:20px; }
.content .item-add .right-info .age{ display:inline-block; border:solid #ccc 1px; width: 154px; }
.content .item-add .right-info .must{ display: inline-block; width:10px; color: #e2483d; }

